<div class="dashboard-container">
  <div class="row">
    <div class="sidebar col-2 col-sm-1">
      <%= render 'shared/sidebar' %>
    </div>

  <div class="col-10 p-2">
    <div class="row inner-navbar">
      <%= render 'shared/navbar' %>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12" %>
          <h1>New Task</h1>
          <%= render 'form', task: @task %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>