<div class="dashboard-container">

  <div class="sidebar col-sm-2">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-sm-10">
    <div class="inner-navbar">
      <%= render 'shared/navbar' %>
    </div>

    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-12" %>
          <h1>New Task</h1>
          <%= render 'form', task: @task %>
        </div>
      </div>
    </div>
  </div>
</div>