<div class="container mt-3" >
  <div class="row justify-content-center">
    <div class="col-12">
        <h1>Tasks for <%= @task.description %> </h1>
    </div>
  </div>
</div>

<%= link_to "Back", tasks_path %>
