<!-- #this page is customized for the user -->
<h1>Dashboard Page</h1>

<%= @user.email %>


<div>

  <%= link_to "Contacts", contacts_path %>
  <%= link_to "Tasks", tasks_path %>

  <%#= link_to "Emails", emails_path %>

</div>

