<head>
  <style> #header { display: none } </style>
    <div>
      <h1>Podforce</h1>
    </div>
</head>

<body>
  <%= render 'shared/navbar' %>

  <h2>The #1 Platform to Manage Your Podcast!</h2>

</body>




