#header{
    text-align: center;
    justify-content: center;
    color: #9c6ef5;
  }

.contact-profile{
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    color: #7a7d80;
    height: 80%
}