#header{
    background-color: #9c6ef5;
    height: 100px;
    color: #ffffff;
    justify-content: center;
  }

.contact-profile{
    background-color: white;
    border-radius: 12px;
    color: #7a7d80;
    height: 80%;
    border-radius: 5px;
}

.contact-tasks{
    background-color: #A175F5;
    border-radius: 12px;
    color: #7a7d80;
    height: 80%;
    justify-content: left;
    border-radius: 5px;

}

.container{
  background-color: #F1EAF4;
}

.info{
  color: white;
}