.landing-podforce img {
  width: 160px;
  border-radius: 12px;
}

.landing-container {
    
    background-color: #F1EAF4;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    height: 100vh;
}