.navbar-lewagon {
  justify-content: space-between;
  margin-left: 0px;
  font-weight: bolder;
  width: 100%;
  padding: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-search {
  border-radius: 12px;
}

.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #9C6EF5;
  padding-left: 50px;
  font-size: 18px;
  color: white;

}
.sidebar ul li .btx-search{
  position: absolute;
  z-index: 99;
  color: #abadb3;
}