@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.sidebar {
//  position: fixed;
  top: 0;
  left:0;
  height: 200vh;
  //width: 600px;
  background: white;
  padding: 6px 14px;
  border-radius: 12px;
  align-items: center;
}

.sidebar-podforce img {
  width: 120px;
  align-items: center;
  margin-left:20px;
}

.sidebar-logo-center{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.sidebar-no-bullets {
  list-style-type: none; /* Remove bullets */
}

.sidebar #btn {
  position: relative;
  color: #abadb3;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar ul{
  margin-top:  40px;
}

.sidebar ul li{
  height: 100px;
  width: 100%;
  position: relative;
  margin: 0 5px;
  list-style: none;
  line-height: 100px;
}

.sidebar ul li a{
  color: #abadb3;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;

}

.sidebar ul li a.active{
  color: #9C6EF5;

}

.sidebar ul li a:hover{
  color: #9C6EF5;
  border-radius: 12px;
}

.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #9C6EF5;
  padding-left: 50px;
  font-size: 18px;
  color: white;

}
.sidebar ul li .btx-search{
  position: absolute;
  z-index: 99;
  color: #abadb3;
}
.sidebar ul li a i{
  height: 50px;
  min-width: 20px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 50px;
  margin-left:35px;
}


.sidebar .profile-content{
  position: absolute;
  color: black;
  bottom: 0;
  left: 10px;
}

.sidebar .profile-content .profile{
  position: relative;
  padding: 10px 6px;
  height: 60px;
}

.profile-content .profile .profile-details{
  display: flex;
  align-items: center;

}

.profile .profile-details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile-details .name-job{
  margin-left: 10px;

}

.profile .profile-details .name{
  font-size: 15px;
  font-weight: 400;

}

.profile .profile-details .job{
  font-size: 12px;
}

.profile #log-out{
  position: absolute;
  left: 88%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

.sidebar ul li .tooltip{
  position: absolute;
  left: 122px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #9C6EF5;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  opacity: 0;
  transition: 0s;
  pointer-events: none;
}

.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}
