.sidebar {
  background-color: white;
  border-radius: 12px;
}

.sidebar-podforce img {
  width: 160px;
}

.sidebar-logo-center{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.sidebar-no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 50; 
  margin: 20;
}