<div class="container mt-3" style="padding: 90px">
  <div class="row justify-content-center">
    <div class="col-12" %>
      <h1>Edit</h1>

      <%= render 'form', email: @email %>

    </div>
  </div>
</div>

  <div>
     <%= link_to "Back", emails_path %>
</div>
